
<a href="/bookmarks/new">Add Bookmark</a>
<br/>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><a href=<%= bookmark.url %>><%= bookmark.title %></a></li>
    <form action="/delete" method="post">
    <input type="submit" name=<%= bookmark.id %> value="delete">
    </form>
  <% end %>
</ul>