<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/css/style.css">
  <title>Bookmark Manager</title>
</head>
<body>
  <form action="/tags" method="post">
    <label for="content">Tag:</label>
    <input type="text" name="content">  
    <input type="submit" value="Submit">
  </form>
</body>
</html>