<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/css/style.css">
  <title>Bookmark Manager</title>
</head>
<body>
  <form action="/users" method="post">
    <label for="email">Email:</label>
    <input type="email" name="email">
    <label for="password">Password:</label>
    <input type="password" name="password">
    <input type="submit" value="Submit">
  </form>
</body>
</html>